In [1]:
import pandas as pd
import nltk
df=pd.read_csv('email.csv')

In [2]:
df

                                                text
0  Subject: Dear Jane Smith,\n\nThis is to confir...

In [3]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [4]:
def remove_punc(t):
    punc=string.punctuation
    return t.translate(str.maketrans('','',punc))

In [5]:
df['text']=df['text'].apply(lambda x: remove_punc(x))

In [6]:
df

                                                text
0  Subject Dear Jane Smith\n\nThis is to confirm ...

In [7]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [10]:
stopword=set(stopwords.words('english'))
def remove_words(t):
    return " ".join([word for word in t.split() if word not in stopword])

In [11]:
df['text']=df['text'].apply(lambda x: remove_words(x))

In [12]:
df

                                                text
0  Subject Dear Jane Smith This confirm meeting J...

In [14]:
from collections import Counter
count = Counter()
for t in df['text']:
    for word in t.split():
        count[word]+=1

count.most_common(10)

[('meeting', 2),
 ('Subject', 1),
 ('Dear', 1),
 ('Jane', 1),
 ('Smith', 1),
 ('This', 1),
 ('confirm', 1),
 ('John', 1),
 ('Doe', 1),
 ('June', 1)]

In [17]:
df

                                                text
0  Subject Dear Jane Smith This confirm meeting J...